@using TaskManager.Models.Dto
@model LoginDto

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="card p-3 shadow-sm" style="width: 300px;">
        <h4 class="card-title text-center mb-3">Task Manager</h4>
        <h5 class="text-center mb-3">Login</h5>
        <form asp-action="Login" method="post">
            <input asp-for="Username" type="text" name="Username" placeholder="Username" class="form-control form-control-sm mb-2" id="username" required autocomplete="off">
            <div class="d-flex align-items-center mb-3">
                <input asp-for="Password" type="password" name="Password" placeholder="Password" class="form-control form-control-sm me-2" id="loginPassword" required>

                <div id="loginPasswordIconHidden" onclick="toggleLoginPassword()" style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z" />
                        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z" />
                    </svg>
                </div>

                <div id="loginPasswordIconShown" onclick="toggleLoginPassword()" hidden style="cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                    </svg>
                </div>
            </div>


            <button type="submit" class="btn btn-primary btn-sm w-100">Sign In</button>
        </form>
        <a asp-controller="Account" asp-action="Register" style="font-size: 11px">Don't have an account? Register here</a>
    </div>
</div>

@if (this.ViewBag.InvalidUsername)
{
    <div class="alert alert-danger mt-3 container d-flex justify-content-center align-items-center" role="alert" style="width: 300px;">
        Invalid login attempt!
    </div>
}


<script>
    function toggleLoginPassword() {
        const input = document.getElementById("loginPassword");
        const iconShow = document.getElementById("loginPasswordIconShown");
        const iconHide = document.getElementById("loginPasswordIconHidden");

        if (input.type === "password") {
            input.type = "text";
            iconHide.hidden = true;
            iconShow.hidden = false;
        } else {
            input.type = "password";
            iconHide.hidden = false;
            iconShow.hidden = true;
        }
    }
</script>
